body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

input, textarea, button {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

input, textarea {
  width: 100%;
  padding: 10px;
}

button {
  width: fit-content;
  padding: 10px 30px;
  margin-top: 10px;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.member-form {
  margin-top: 32px;
}

.sign-up-form div {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.underline {
  text-decoration: underline;
}

.posts-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 64px;
}

.post-container {
  padding: 16px;
  border: 1px solid #bdbdbd;
  box-shadow:
  0px 4.1px 5px rgba(0, 0, 0, 0.035),
  0px 33px 40px rgba(0, 0, 0, 0.07)
;
}

.post-details {
  width: fit-content;
  border: 1px solid #dbdbdb;
  padding: 0 16px;
  box-shadow:
  0px 4.1px 5px rgba(0, 0, 0, 0.035),
  0px 33px 40px rgba(0, 0, 0, 0.07)
;
  color: #585858;
}